@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  background-color: #cdb4db;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.header {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.name-heading {
  margin: 0;
  border-right: 10px solid black;
  width: 350px;
  padding: 12px;
}

.name-heading1 {
  margin: 0;
  border-right: 10px solid black;
  width: 500px;
  padding: 12px;
  transform: translate(-300px,0px);
}

.buttons{
    display: flex;
    gap: 2rem;
    top: 5%;
    left: 60%;
    transform: translate(290px,-10px);
    position: absolute;
}
.button2{
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius:.6rem;
    color: #000000;
    font-size: 18px;
    font-family: sans-serif;
    display: inline-block;
    background: transparent;
    box-shadow: inset 0 0 0 0 #c92b8c;
    border: 2px solid ;
    cursor: pointer;
    transition: .7s ease-in;
}
.button2:hover{
    border: 1px solid transparent;
    box-shadow: inset 300px 0 0 0 #94ce0d;
}
.big-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left {
  width: 60%;
  border-right: 2px solid black;
}

.right {
  width: 40%;
  object-fit: cover;
}

.small-box {
  padding: 16px;
  border-bottom: 2px solid black;
}

.flex-div {
  display: flex;
}

.capsule {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  width: 80px;
  text-align: center;
  border-radius: 50px;
  background-color: #99d98c;
}
